

<ul>
    <li>@Html.ActionLink("Nueva Marca", "NuevoMarca", "Equipo")</li>
    <li>@Html.ActionLink("Nuevo Modelo", "NuevoEquipo", "Equipo")</li>
     <li>@Html.ActionLink("Reporte Equipos", "ReporteEquipos", "Equipo")</li>
</ul>