@{
    ViewBag.Title = "Reporte";
}

<h2><b>Reportes SIGERET</b></h2>

<br>

<ul>
    <li>@Html.ActionLink("Reporte de Usuarios Registrados", "ReporteUsuarios", "Reporte")</li>
</ul>
<ul>
    <li><a href="/Reporte/ReporteRecursoSolicitud.cshtml">Reporte de Recursos según solicitudes realizadas</a></li>
</ul>
<ul>
    <li>@Html.ActionLink("Reporte de Prestamos Agrupados por usuarios", "ReportePrestamosUsuarios", "Reporte")</li>
</ul>
<ul>
    <li>@Html.ActionLink("Reporte de Solicitudes agrupadas por Usuarios", "ReporteUsuarioSolicitud", "Reporte")</li>
</ul>
<ul>
    <li><a href="/Reporte/ReporteDisponibilidad.cshtml">Reporte según disponiblidad</a></li>
</ul>
<ul>
    <li><a href="/Reporte/ReporteTotales.cshtml">Reporte Totalitario</a></li>
</ul>