<div class="row">
    <div class="col-lg-12">
        <hgroup class="title">
            <h2>@ViewBag.TitleReport</h2>
        </hgroup>

        @Html.Partial("PartialReportViewer", null, ViewData)
    </div>
</div>
