

<ul>
    <li>@Html.ActionLink("Actualizar Cuenta", "Editar", "Account")</li>
     <li>@Html.ActionLink("Cambiar Contraseña", "Manage", "Account")</li>
     <li>@Html.ActionLink("Administar Contactos", "Index", "Contacto")</li>

</ul>


