@{
    ViewBag.Title = "About";
}

<br />

<div class="panel panel-default">
  <div class="panel-heading"><b>Acerca de SIGERET</b></div>
  <div class="panel-body">
    <p class="justify">

    <p class="justify">
        SIGERET según su abreviación de Sistema de Gestión de Recursos Tecnológicos nace de la problemática existente actualmente en la Universidad Autónoma de Santo Domingo (UASD) de poseer un correcto manejo, disposición y/o control de los diferentes recursos tecnológicos los cuales dispone la Universidad.
    </p>

    <p class="justify">
        Por tal razón nace con miras a solucionar este problema SIGERET UASD, una aplicación idealizada para mejorar y agilizar los procesos tanto de distribución como de tramitación de los diferentes recursos Tecnológicos que dispone la Universidad.
    </p>

    <p class="justify">
        Un ejemplo de esta es las laptops, proyectores, bocinas y micrófonos las cuales posee la universidad para la disposición de los maestros, se presenta muchas veces el caso de que dichos equipos no se saben cómo están administrados, quien los posee en un momento determinado o cuando quienes los poseen los retornarán para que dichos equipos estén disponibles nuevamente para que otra persona pueda hacer uso de los mismo.
    </p>

    <p class="justify">
        SIGERET UASD nace a raíz de esa problemática con la finalidad de tener un conocimiento preciso de cuales recursos están disponibles, quienes los poseen, cuando retornaran a los centros que los administran, la cantidad de tiempo que están siendo utilizados, todo manejado a nivel de Escuelas.
    </p>

  </div>
</div>

<br />

<div class="panel panel-default">
  <div class="panel-heading"><b>Objetivo General</b></div>
  <div class="panel-body">
    <p class="justify">
        Automatizar el proceso de gestión de los diferentes recursos tecnológicos que dispone la Universidad Autónoma de Santo Domingo a partir del uso de SIGERET. 
    </p>
  </div>
</div>

<br />


<h1></h1>
<article>

    <p>

    </p>

</article>

<aside>
    <h3>SIGERET</h3>
    <p>
        Para información adicional favor contactar con el Administrador.
    </p>
    <ul>
        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
    </ul>
</aside>