@{
    ViewBag.Title = "Contacto";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>

</hgroup>

<section class="contact">
    <header>
        <h3>Teléfono</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>809-535-8273</span>
    </p>

</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:soporte@sigeret.com">Soporte@sigeret.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:registro@sigeret.com">Registro@sigeret.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@sigeret.com">General@sigeret.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Dirección</h3>
    </header>
    <p>
        Alma Máter, Santo Domingo, <br />
        República Dominicana  (809)535-8273 Fax (809)508-7374
    </p>
</section>