@{
    ViewBag.Title = "Home Page";
}

<!--<img src="~/Content/UASD_Logo.png" alt="Sample Image" />

<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>
      function alCargar() {
          var imagenHTML = "<img/>";
          $("#contenedor-div").html(imagenHTML);
          $("#contenedor-div img")
            .attr("id", "imagen")
            .attr("src", "Content/UASD_Logo.png")
            .attr("width", $(window).width())
            .attr("height", $(window).height());
      }

    </script>
  </head>
  <body onload="alCargar()">
    <div id="contenedor-div"/>
  </body>
    -->

<br />
<br />

<img src="~/Content/UASD_Logo.png" class ="img-responsive" alt="Logo UASD"/>