@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<html>

<body>
    <div>
        @ViewBag.leng caracteres
        @ViewBag.resp

        @using (Html.BeginForm())
        {
            <strong>From:</strong>
            <input type="text" name="fecha" />

            <strong>To:</strong>
            <input type="text" name="horaInicio" />

            <strong>Body:</strong>
            <input type="text" name="horaFin" />

            <input type="submit" value="Enviar" />




        }

    </div>
</body>
</html>