@{
    ViewBag.Title = "Recurso No Encontrado";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron  center">
                <h1>Página o recurso no encontrad@@ <small class="notFoundHeader">Error 404</small></h1>
                <br /><p>La página solicitada no se pudo encontrar, o bien contacte al administrador del sitio o inténtelo de nuevo.</p>
                <p><b>O simplemente presione el siguiente botón:</b></p>
                <a href="@Url.Action("Index", "Home")" class="btn btn-large btn-info"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Ir al Inicio</a>
            </div>
        </div>
    </div>
</div>
